body {
    width: 500px;
    font-family: 'Times New Roman';
    letter-spacing: 5px;
    font-size: 1.8rem;
}

.calculator {
    padding: 18px;
    background-color: #565656
}

.input {
    background-color: #CFCFCF; 
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 16px;
    font-size: 2.5rem;
	
}



.numbers div {
    display: inline-block;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #969696;

}


div.equal {
    display: inline-block;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    color: #FFF;
    background-color: #F59F27;
}

